@-webkit-keyframes ToolTip {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    from {
        bottom: 10px;
    }
}

.chat-panel .message-role-Admin,
.chat-panel .message-role-Developer,
.chat-panel .message-role-Owner,
.chat-panel .message-role-GMod,
.chat-panel .message-role-Mod,
.chat-panel .message-role-Premium {
    padding-top: 8px;
    padding-left: 21px;
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position: 0 8px;
    font-size: 15px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;

}

.chat-panel .message-role-Admin {
    color: #B52535 !important;
    background-image: url('https://exudev.ca/BeX/BexBadges/admin.png');
}

.chat-panel .message-role-Developer {
    color: #ecbf37 !important;
    padding-left: 11px;
    background-size: 18px 18px;
    background-image: url('https://beam.pro/img/raccoon.png');
}

.chat-panel .message-role-Developer .message-author {
    color: #ecbf37;
    background: none !important;
    background-size: none !important;
    padding-left: 11px;
    background-position-x: none !important;
    padding-right: 6px;
    margin-right: 0;
}

.chat-panel .message-role-Owner {
    color: #FFFFFF !important;
    background-image: url('https://exudev.ca/BeX/BexBadges/broad.png');
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.chat-panel .message-role-GMod {
    color: #37ED3B !important;
    background-image: url('https://exudev.ca/BeX/BexBadges/gmod.png');
}

.chat-panel .message-role-Mod {
    color: #37ED3B !important;
    background-image: url('https://exudev.ca/BeX/BexBadges/mod.png');
}

.chat-panel .message-role-Premium {
    color: #c642ea !important;
    background-image: url('https://exudev.ca/BeX/BexBadges/pro.png');
}

.chat-panel .message-role-BExDev .message-author,
.chat-panel .message-role-BExMusicVerified .message-author,
.chat-panel .message-role-BExVerified .message-author,
.chat-panel .message-role-BExPlayerDotMe .message-author,
.chat-panel .message-role-BExFamilyStrong .message-author {
    padding-left: 22px;
    padding-bottom: 1px;
    background-repeat: no-repeat;
    background-position: -1px;
}

.chat-panel .message-role-BExDev .message-author {
    color: #00FFFF;
    background-image: url('https://i.imgur.com/N4LsfN5.png');
}

.chat-panel .message-role-BExMusicVerified .message-author {
    color: #9800FF;
    background-image: url('https://exudev.ca/BeX/icons/MusicBadge.png');
}

.chat-panel .message-role-BExVerified .message-author {
    color: #9800FF;
    background-image: url('https://exudev.ca/BeX/icons/verified.png');
}

.chat-panel .message-role-BExPlayerDotMe .message-author {
    color: #f08;
    background-image: url('https://exudev.ca/BeX/icons/player-logo.png');
}

.chat-panel .message-role-BExFamilyStrong .message-author {
    color: #f08;
    background-image: url('https://exudev.ca/BeX/icons/fs-logo.png');
}

.chat-panel .message[data-role~="ExuMessage"] {
    border-right: 3px solid #0003FF;
    border-left: 3px solid #0003FF;
    background: -webkit-linear-gradient(left, rgba(0, 52, 255, 0.3) 0%, rgba(0, 32, 255, 0.1) 7%, rgba(0, 42, 255, 0.1) 95%, rgba(0, 78, 247, 0.3) 100%);
    background: -moz-linear-gradient(left, rgba(0, 52, 255, 0.3) 0%, rgba(0, 32, 255, 0.1) 7%, rgba(0, 42, 255, 0.1) 95%, rgba(0, 78, 247, 0.3) 100%);
    background: linear-gradient(left, rgba(0, 52, 255, 0.3) 0%, rgba(0, 32, 255, 0.1) 7%, rgba(0, 42, 255, 0.1) 95%, rgba(0, 78, 247, 0.3) 100%);
    text-align: center;
}

.chat-panel .message-role-BExDonator .message-author {
    color: #FFFFFF;
    text-shadow: 0 0 13px rgba(255, 255, 255, 1);
    display: inline;
    position: relative;
}

.chat-panel .message-role-BExBot .message-author {
    color: #FF0000 !important;
    padding-left: 22px;
    padding-bottom: 1px;
    background: url('https://i.imgur.com/ddVOAAS.png') no-repeat -1px;
}

.chat-panel .message-role-BExTSSN .message-author {
    padding-left: 22px;
    padding-bottom: 1px;
    background: url('https://exudev.ca/BeX/tssn.png') no-repeat -1px;
}

.chat-panel .message-role-TheBExBot .message-body {
    color: #FF0000 !important;
}

.exu-emote {
    margin-bottom: -10px;
    margin-top: -10px;
}

.chat-panel .chat-dialog {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: inherit;
    right: 10px;
    z-index: 100;
    box-shadow: none !important;
    border: none !important;
    transition: .3s all ease;
    transition: all .3s all ease ease;
}

.chat-panel .message .imgContainer {
    max-width: 95%;
    position: relative;
}

.chat-panel .message .imgContainer img {
    max-width: 100%;
    border-radius: 14px;
    max-height: 150px;
}

.chat-panel .message .imgContainer .delete {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.8);
    color: #FFFFFF;
}

.chat-panel .tagged {
    font-weight: 700;
    background-color: rgba(121, 0, 0, 0.35)
}

.chat-panel .message-role-BExDev .message-author .message-tooltip:before {
    content: 'BEx Developer, ';
}

.chat-panel .message-role-BExPlayerDotMe .message-author .message-tooltip:before {
    content: 'Player.me Staff, ';
}

.chat-panel .message-role-BExFamilyStrong .message-author .message-tooltip:before {
    content: 'Family Strong Member, ';
}

.chat-panel .message-role-BExMusicVerified .message-author .message-tooltip:before {
    content: 'Verified Music Producer, ';
}

.chat-panel .message-role-BExVerified .message-author .message-tooltip:before {
    content: 'Verified, ';
}

.chat-panel .message-role-BExBot .message-author .message-tooltip:before {
    content: 'Robot, ';
}

.chat-panel .message-role-BExTSSN .message-author .message-tooltip:before {
    content: 'TSSN Member, ';
}

.qtip {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px #333;
    -moz-box-shadow: 0 0 3px #333;
    box-shadow: 0 0 3px #333;
    color: white;
    border: 0 solid transparent;
    background: #4A4A4A;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4A4A4A), color-stop(100%, black));
    background-image: -webkit-linear-gradient(top, #4A4A4A 0, black 100%);
    background-image: -moz-linear-gradient(top, #4A4A4A 0, black 100%);
    background-image: -ms-linear-gradient(top, #4A4A4A 0, black 100%);
    background-image: -o-linear-gradient(top, #4A4A4A 0, black 100%);
}
