$rootBExBadgesURL: 'https://exudev.ca/BEx/icons/bex/';

$AdminBExBadge: url($rootBExBadgesURL + 'admin.png');
$GModBExBadge: url($rootBExBadgesURL + 'gmod.png');
$OwnerBExBadge: url($rootBExBadgesURL + 'owner.png');
$ModBExBadge: url($rootBExBadgesURL + 'mod.png');
$PremiumBExBadge: url($rootBExBadgesURL + 'pro.png');
