$rootTwitchBadgesURL: 'https://exudev.ca/BEx/icons/twitch';

$AdminTwitchBadge: url($rootTwitchBadgesURL + 'admin.png');
$GModTwitchBadge: url($rootTwitchBadgesURL + 'gmod.png');
$OwnerTwitchBadge: url($rootTwitchBadgesURL + 'owner.png');
$ModTwitchBadge: url($rootTwitchBadgesURL + 'mod.png');
$PremiumTwitchBadge: url($rootTwitchBadgesURL + 'pro.png');
$StaffTwitchBadge: url($rootTwitchBadgesURL + 'staff.png');