@import "twitchBadges";

.chat-panel {
    .message-role-Admin,
    .message-role-Developer,
    .message-role-Owner,
    .message-role-GMod,
    .message-role-Mod,
    .message-role-Premium {
        padding-top: 8px;
        padding-left: 21px;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: 0 9px;
        font-size: 15px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
    }

    .message-role-Premium {
        background-image: $PremiumTwitchBadge;
    }

    .message-role-Developer {
        padding-left: 11px;
        background-size: 16px 11px;
        background-image: url('https://beam.pro/img/chat/icons/developers.png');
        background-position-x: 4px;
        background-position-y: 10px;

        .message-author {
            background: none;
            padding-left: 11px;
            padding-right: 6px;
            margin-right: 0;

            .message-icon {
                display: none;
            }
        }
    }

    .message-role-Mod {
        background-image: $ModTwitchBadge;
    }

    .message-role-Owner {
        background-image: $OwnerTwitchBadge;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
    }

    .message-role-GMod {
        background-image: $GModTwitchBadge;
    }

    .message-role-Admin {
        background-image: $AdminTwitchBadge;
    }
}