// Default Beam Global Colors
$AdminColor: #b52535;
$DevColor: #ecbf37;
$GModColor: #0d9d2c;

// Default Beam Channel Colors
$OwnerColor: #ffffff;
$ModColor: #37ed3b;
$PremiumColor: #c642ea;
$UserColor: #37aad5;

// BEx Roles Colors
$BExDevColor: #00ffff;
$BExVerifiedColor: #9800ff;
$BExMusicVerifiedColor: #9800ff;

// Robot Colors
$RobotColor: #ff0000;
$BExRobotColor: #ff0000;

// Special Groups Colors
$PlayerDotMeColor: #ff0088;
$FamilyStrongColor: #ff0088;

// Misc Colors
$TaggedColor: rgba(121, 0, 0, 0.35);