$rootIconURL: 'https://exudev.ca/BEx/icons/';

// BEx Roles Images
$BExDevImage: url($rootIconURL + 'bexBadge.png');
$BExVerifiedImage: url($rootIconURL + 'verifiedBadge.png');
$BExMusicVerifiedImage: url($rootIconURL + 'musicBadge.png');

// Robot Images
$RobotImage: url($rootIconURL + 'robotBadge.png');

// Special Groups Images
$PlayerDotMeImage: url($rootIconURL + 'playerBadge.png');
$FamilyStrongImage: url($rootIconURL + 'fsBadge.png');
$TSSNImage: url($rootIconURL + 'tssnBadge.png');
$IFImage: url($rootIconURL + 'ifBadge.png');