.qtip {
    @include vendor-prefix(border-radius, 2px);
    @include vendor-prefix(box-shadow, 0 0 3px #333);
    color: white;
    border: 0 solid transparent;
    background: #4A4A4A;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4A4A4A), color-stop(100%, black));
    @include vendor-sub-prefix(background-image, linear-gradient(top, #4A4A4A 0, black 100%));
}