// BEx Role Tooltip
$BExDevTooltip: 'BEx Developer, ';
$BExVerifiedTooltip: 'Verified, ';
$BExMusicVerifiedTooltip: 'Verified Music Producer, ';

// Robot Tooltip
$RobotTooltip: 'Robot, ';

// Special Groups Tooltip
$PlayerDotMeTooltip: 'Player.me Staff, ';
$FamilyStrongTooltip: 'Family Strong Member, ';
$TSSNTooltip: 'TSSN Member, ';