@import "index";
.exu-emote {
    margin-bottom: -10px;
    margin-top: -10px;
}

.chat-panel {
    .chat-dialog {
        position: absolute;
        left: 10px;
        top: 10px;
        bottom: inherit;
        right: 10px;
        z-index: 100;
        box-shadow: none !important;
        border: none !important;
        @include vendor-prefix(transition, all .3s ease);
    }
    // Tagged
    .tagged {
        font-weight: 700;
        background-color: $TaggedColor;
    }
    .message {
        &[data-role~="ExuMessage"] {
            border-right: 3px solid #0003FF;
            border-left: 3px solid #0003FF;
            background: -webkit-linear-gradient(left, rgba(0, 52, 255, 0.3) 0%, rgba(0, 32, 255, 0.1) 7%, rgba(0, 42, 255, 0.1) 95%, rgba(0, 78, 247, 0.3) 100%);
            background: linear-gradient(left, rgba(0, 52, 255, 0.3) 0%, rgba(0, 32, 255, 0.1) 7%, rgba(0, 42, 255, 0.1) 95%, rgba(0, 78, 247, 0.3) 100%);
            text-align: center;
        }
        // Chat Image Containers
        .imgContainer {
            max-width: 95%;
            position: relative;
        }
        .imgContainer img {
            max-width: 100%;
            border-radius: 14px;
            max-height: 150px;
        }
    }
    // Beam Roles
    .message-role-Premium {
        border-right: 3px solid transparent;
        border-left: 3px solid $PremiumColor;
    }
    .message-role-Developer {
        color: $DevColor;
        border-right: 3px solid transparent;
        border-left: 3px solid $DevColor;
    }
    .message-role-Mod {
        color: $ModColor;
        border-right: 3px solid transparent;
        border-left: 3px solid $ModColor;
    }
    .message-role-Owner {
        color: $OwnerColor;
        border-right: 3px solid transparent;
        border-left: 3px solid $OwnerColor;
    }
    .message-role-GMod {
        color: $GModColor;
        border-right: 3px solid transparent;
        border-left: 3px solid $GModColor;
    }
    .message-role-Admin {
        color: $AdminColor;
        border-right: 3px solid transparent;
        border-left: 3px solid $AdminColor;
    }
    // BEx Roles
    .message-role-BExDev .message-author,
    .message-role-BExMusicVerified .message-author,
    .message-role-BExVerified .message-author {
        padding-left: 22px;
        padding-bottom: 1px;
        background-repeat: no-repeat;
        background-position: -1px;
    }
    .message-role-BExDev {
        .message-author {
            color: $BExDevColor;
            background-image: $BExDevImage;
        }
    }
    .message-role-BExDonator {
        .message-author {
            color: $BExDonatorColor;
            text-shadow: 0 0 13px rgba(255, 255, 255, 1);
            display: inline;
            position: relative;
        }
    }
    .message-role-BExVerified {
        .message-author {
            color: $BExVerifiedColor;
            background-image: $BExVerifiedImage;
        }
    }
    .message-role-BExMusicVerified {
        .message-author {
            color: $BExMusicVerifiedColor;
            background-image: $BExMusicVerifiedImage;
        }
    }
    // Robots
    .message-role-BExBot {
        .message-author {
            color: $RobotColor !important;
            padding-left: 22px;
            padding-bottom: 1px;
            background: $RobotImage no-repeat -1px;
        }
    }
    .message-role-TheBExBot {
        .message-body {
            color: $BExRobotColor !important;
        }
    }
    // Special Groups
    .message-role-BExPlayerDotMe,
    .message-role-BExFamilyStrong,
    .message-role-BExVG {
            .message-author {
            padding-left: 22px;
            padding-bottom: 1px;
            background-repeat: no-repeat;
            background-position: -1px;
        }
    }
    .message-role-BExTSSN .message-author {
        padding-left: 22px;
        padding-bottom: 1px;
        background: $TSSNImage no-repeat -1px;
    }
    .message-role-BExPlayerDotMe .message-author {
        color: $PlayerDotMeColor;
        background-image: $PlayerDotMeImage;
    }
    .message-role-BExVG .message-author {
        background-image: $VGImage;
    }
    .message-role-BExFamilyStrong .message-author {
        color: $FamilyStrongColor;
        background-image: $FamilyStrongImage;
    }
}
